# This is an example Docker Compose config for docker-volume-rclone

services:
  docker-volume-rclone:
    image: ghcr.io/anarchobooleanism/docker-volume-rclone:main
    environment:
      TARGET_SUBDIR_NAME: ${TARGET_SUBDIR_NAME} # Is best to have this be the hostname
      # List the volumes you want to back up here
      # Volume names are separated by spaces, to make it easier to break them up into individual lines
      VOLUME_NAMES: >-
        example1
        example2
      RUN_ON_STARTUP: "false"
      # If CRON_ARGUMENTS does not exist, it does not start any cronjobs and exits right away
      CRON_ARGUMENTS: 30 * * * * # Meaning: The 30th minute of every hour
      # RCLONE_OPTIONS: # Feel free to define rclone options/arguments here
      TZ: ${TZ} # Example: America/Los_Angeles
    volumes:
      - /var/lib/docker/volumes:/volumes:ro
      - nfs-target:/volumes-clone

volumes:
  nfs-target:
    driver_opts:
      type: "nfs"
      o: "addr=nas1.int-net.saphnet.xyz,nolock,soft,rw,nfsvers=4"
      device: ":/mnt/saphnet-nas1b/docker-volume-backups"
